body {
	background-color: rgb(238, 238, 238);
}
div.container {
	border-color: rgb(102, 153, 187); background-color: white;
}
div.logo {
	color: white; background-color: rgb(102, 153, 187);
}
div.logo span.logo_text {
	color: white;
}
div.logo img {
	background-color: white;
}
div.navigationbar {
	background-color: rgb(221, 221, 221);
}
div.body div.related {
	color: rgb(102, 102, 102);
}
div.body div.notefoot {
	color: rgb(102, 102, 102);
}
div.body div.notefoot span.small {
	color: black;
}
div.editbar {
	color: rgb(102, 102, 102); background-color: rgb(221, 221, 221);
}
div.footer {
	color: white; background-color: rgb(102, 153, 187);
}
div.menu h2 {
	border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.menu h3 {
	border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.menu h4 {
	border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.menu h5 {
	border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body pre {
	border: 1px solid rgb(102, 153, 187); border-image: none; background-color: rgb(238, 238, 238);
}
div.body blockquote {
	border-width: 2px 1px; border-style: solid dashed; border-color: rgb(102, 153, 187);
}
div.body h2 {
	border-width: 1px 1px 1px 8px; border-style: solid; border-color: rgb(102, 153, 187); padding: 4px 4px 4px 10px; border-image: none;
}
div.body h3 {
	padding: 4px; border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body h5 {
	padding: 4px; border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body h4 {
	padding: 4px; border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: solid;
}
div.body .style_table {
	border: 1px solid rgb(102, 153, 187); border-image: none;
}
div.body td.style_td {
	border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body thead td.style_td {
	background-color: rgb(221, 221, 221);
}
div.body tfoot td.style_td {
	background-color: rgb(221, 221, 221);
}
div.logo a {
	color: rgb(255, 170, 0); text-decoration: none;
}
div.footer a {
	color: rgb(255, 170, 0); text-decoration: none;
}
div.navigationbar a {
	color: black; text-decoration: none;
}
div.editbar a {
	color: black; text-decoration: none;
}
div.editbar a {
	padding: 0px 4px;
}
div.logo a:hover {
	text-decoration: underline;
}
div.footer a:hover {
	text-decoration: underline;
}
div.navigationbar a:hover {
	text-decoration: underline;
}
div.editbar a:hover {
	text-decoration: underline;
}
div.menu ul a {
	border-color: white; color: black; text-decoration: none;
}
div.menu ul a:hover {
	background: rgb(253, 253, 253); border: 1px solid rgb(102, 153, 187); border-image: none;
}
div.body a {
	color: black; text-decoration: none; border-bottom-color: rgb(102, 153, 187); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body a:hover {
	color: black; text-decoration: none; border-bottom-color: rgb(255, 170, 0); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body h2 a {
	color: black; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.body h3 a {
	color: black; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.body h4 a {
	color: black; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.body h2 a:hover {
	color: black; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.body h3 a:hover {
	color: black; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.body h4 a:hover {
	color: black; text-decoration: none; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
div.body div.related a {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed;
}
div.body div.notefoot a {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed;
}
