<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
  <header role="banner">
    <h1><a href="./index.html">情報理工学院 数理・計算科学系 渡辺研究室</a></h1>
  </header>
  <nav role="navigation">
    <ul role="menubar">
      <li role="menuitem"><a href="./members.html">メンバー</a></li>
      <li role="menuitem"><a href="http://www.is.titech.ac.jp/~watanabe/index-j.html">渡辺治</a></li>
      <li role="menuitem" id="research"><a href="#">研究紹介</a>
        <ul>
          <li><a href="./research_theme.html">主要な研究テーマ</a></li>
          <li><a href="./research_project.html">研究プロジェクト</a></li>
        </ul>
      </li>
      <li role="menuitem"><a href="./access.html">アクセス</a></li>
      <li role="menuitem" id="link"><a href="#">リンク</a>
        <ul>
          <li><a href="http://www.is.c.titech.ac.jp">数理・計算科学系</a></li>
          <li><a href="http://www.titech.ac.jp">東京工業大学</a></li>
          <li><a href="http://www.is.titech.ac.jp/~watanabe/pnpbook/">P≠NP予想の本</a></li>
          <li><a href="http://www.is.titech.ac.jp/~watanabe/csbook/">コンピュータサイエンスの超入門</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main>
{{ content }}
  </main>
</body>
</html>
