<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
</head>
<body>
  <header role="banner">
    <h1>情報理工学院 数理・計算科学系 渡辺研究室</h1>
  </header>
  <aside id="menu">
    <nav role="navigation">
      <ul role="menubar">
        <li role="menuitem"><a href="./member.html">メンバー</a></li>
        <li role="menuitem"><a href="./research.html">研究紹介</a></li>
        <li role="menuitem"><a href="./access.html">アクセス</a></li>
      </ul>
    </nav>
  </aside>
  <main role="main">
{{ content }}
  </main>
</body>
</html>
