<!DOCTYPE HTML>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css">
</head>
<body>
  <header role="banner">
    <h1><a href="./index.html">情報理工学院 数理・計算科学系 渡辺研究室</a></h1>
  </header>
  <aside id="menu">
    <nav role="navigation">
      <ul role="menubar">
        <li role="menuitem"><a href="./members.html">メンバー</a></li>
        <li role="menuitem"><a href="./research.html">研究紹介</a></li>
        <li role="menuitem"><a href="./access.html">アクセス</a></li>
      </ul>
    </nav>
  </aside>
  <main role="main">
{{ content }}
  </main>
</body>
</html>
