body {
	background-color:#ffffff;
	color:#000000;
        font-family:Arial,sans-serif;
        font-size:11pt;
}

a:link { color:#003377; }

a:visited { color:#606060; }

a:active { color:#003377; }

h2, h3, h4 {
	color:#ffffff;
    font-size:12pt;
}

img.fig {
    max-width: 400pt;
}

span.title {
    font-size: 11pt;
    color: #909090;
}

h2,h3,h4 {
	/* font-size: 120%; */
	padding:4px 20px 2px 10px;
	background-color:#003377;	/* #DEB887 #f5deb3 */
	border-width:1px 0px 1px 0px;
	border-color:#003377;
	border-style:solid;
}

h3, h4 {
	padding-left: 30px;
}

pre {
    background-color: #f0f0ff;
    font-family: monospace;
}

td {
    background-color: #f0f0ff;
    font-size: 11pt;
}

ul.frame, div.frame {
	border: 1px solid;
        border-color: #a0a0a0;
	padding: 10px;
        width: 800px;
}

p.footnote {
    font-size: 9pt;
}

span.cbox {
    font-family: monospace;
    border: solid 1px #00f;
    padding: 0 2px 0 2px;
}

span.word {
    color: #0000bf;
    margin: 0 1px 0 1px; 
}

span.input {
    color: #bf0000;
    margin: 0 1px 0 1px; 
}

ul li {
    margin-bottom: 5px;
}

code {
    font-family: monospace;
}